@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

/* body {
  font-family: Poppins !important;
} */

@layer components {
  .button-hover {
    @apply border border-transparent hover:border-primary hover:bg-light/50 active:bg-light cursor-pointer;
  }
  .button-active {
    @apply border border-primary bg-light;
  }
  .router-link-active {
    @apply border border-primary bg-light;
  }
  .badge-xs {
    @apply border rounded-xl;
    font-size: 8px;
    padding: 2px 6px;
  }
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #79C7C6 #f5f5ff;
} */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eefffb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(121, 199, 198, .5);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(121, 199, 198, 1);
}